.messages {
    color: black;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid black;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.close{
    font-weight: bold;
    cursor: pointer;
    color: red;
}

h5 {
    margin-left: 10px;
    margin-top: 2px;
}
